parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Packback\\\\Lti1p3\\\\Interfaces\\\\IDatabase\\:\\:findLti1p1Keys\\(\\)\\.$#"
			count: 1
			path: src/LtiMessageLaunch.php

		-
			message: "#^Call to an undefined method Packback\\\\Lti1p3\\\\Interfaces\\\\IDatabase\\:\\:migrateFromLti1p1\\(\\)\\.$#"
			count: 1
			path: src/LtiMessageLaunch.php

		-
			message: "#^Call to an undefined method Packback\\\\Lti1p3\\\\Interfaces\\\\IDatabase\\:\\:shouldMigrate\\(\\)\\.$#"
			count: 1
			path: src/LtiMessageLaunch.php
